<!--<div>
    <h1>Login</h1>
    <form action="/users/login" method="post">
        <input type="text" name='email' placeholder="email">
        <input type="password" name='password' placeholder="password">
        <button type="submit">Submit</button>
    </form>
</div> -->
<body>
    <img class="log">
    <div class="card" style="width: 20rem;">
        <div class="card-body">
            <h5 class="card-title">Login To Your Account</h5>
            <form action="/users/login" method="post">
                <input type="text" name='email' placeholder="Enter Email">
                <input type="password" name='password' placeholder="Enter Password">
                <button type="submit">Confirm Your Identity</button>
            </form>
        </div>
    </div>
</body>
