<div>
    <form action="/restaurants/add_restaurant" method="post">
        <input type='text' name='naziv' placeholder="naziv">
        <input type='text' name='adresa' placeholder='adresa'>
        <input type='number' name='telefon' placeholder="telefon">
        <input type='text' name="grad" placeholder="grad"> 
        <button type="submit">Submit</button>
    </form>
</div>