<div>
  <table>
    <tr>
        <th>Naziv</th>
        <th>Adresa</th>
        <th>Telefon</th>
        <th>Grad</th>
    </tr>
    <%for (var i=0; i<restaurants.length; i++) {%>
    <tr>
        <td><%= restaurants[i].name%></td>
        <td><%= restaurants[i].address%></td>
        <td><%= restaurants[i].phone%></td>
        <td><%= restaurants[i].city%></td>
    </tr>
    <%}%>
</table>

</div>