<div>
    <form action="/restaurants/update/<%= id %>" method="post">
        <input type='text' name='naziv' placeholder="naziv">
        <input type='text' name='adresa' placeholder='adresa'>
        <button type="submit">Submit</button>
    </form>
</div>